SERVER_PORT=13000
DB_PORT=13001
DB_NAME=DripRateDb
DB_USER=sa
DB_PASSWORD=Your_strong_password_123
Jwt_Key=your-super-secret-key-that-is-at-least-32-characters-long-for-256-bit
BlobStorage__ConnectionString=CHANGE_ME
BlobStorage__ContainerName=CHANGE_ME
