# required

SERVER_PORT=13000

ConnectionStrings__DefaultConnection=CHANGE_ME

Jwt__Key=CHANGE_ME

# optional - Identity
Identity__PasswordMinLength=8
Identity__PasswordRequireDigit=true
Identity__PasswordRequireLowercase=true
Identity__PasswordRequireUppercase=true
Identity__PasswordRequireNonAlphanumeric=true
Identity__LockoutMaxFailedAccessAttempts=5
Identity__LockoutDefaultLockoutTimeSpanMinutes=5

# optional - JWT

Jwt__Issuer=DripRateServer
Jwt__Audience=DripRateServerApi
Jwt__ExpirationMinutes=60
Jwt__RefreshTokenExpirationDays=7

BlobStorage__ConnectionString=CHANGE_ME
BlobStorage__ContainerName=CHANGE_ME
BlobStorage__DefaultAvatarUrl=CHANGE_ME
